.section-title {
  font-size: 64px;
  line-height: 1.16;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;

  color: var(--white-color);
}

.section-label {
  display: flex;
  align-items: center;
  &__text {
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--hero-title-color);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
