:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --basket-count-color: #141820;
  --nav-link-hover-color: #fac422;
  --hero-title-color: #57b8ff;
  --hero-title-color-hover: #79c3f8;
  --hero-text-color: #999999;
  --social-list-link-color: #80858f;
  --sponsors-section-color: #fdd04a;
  --section-title-color: #222730;
  --text-color: #555555;
  --sponsors-item-bg-color: #fee089;
  --sponsors-link-bg-color: #fee9ac;
}
