<section class="benefits-section">
  <div class="container">
    <div class="benefits">
      <p class="benefits__label section-label">
        <svg class="section-label__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-fire"></use>
        </svg>
        <span class="section-label__text">FUTURE OF eSPORTS</span>
      </p>
      <h2 class="benefits__title section-title">Your one stop shop gaming needs!</h2>
      <p class="benefits__text">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam
      </p>
      <ul class="benefits__list benefits-list list">
        <li class="benefits-list__item">
          <img
            src="./images/li-style.png"
            alt="Ромб"
            class="benefits-list__img"
            width="29"
            height="29"
          />
          <h3 class="benefits-list__title">All New Gameplay</h3>
          <p class="benefits-list__text">
            Vivamus magna justo, lacinia eget coecetur sed, convallis at tellus. Curabitur non nulla
            sit Vestibum ante ipsum primis in faucibus orci
          </p>
        </li>

        <li class="benefits-list__item">
          <img
            src="./images/li-style.png"
            alt="Ромб"
            class="benefits-list__img"
            width="29"
            height="29"
          />
          <h3 class="benefits-list__title">Generation Graphics</h3>
          <p class="benefits-list__text">
            Vivamus magna justo, lacinia eget coecetur sed, convallis at tellus. Curabitur non nulla
            sit Vestibum ante ipsum primis in faucibus orci
          </p>
        </li>

        <li class="benefits-list__item">
          <img
            src="./images/li-style.png"
            alt="Ромб"
            class="benefits-list__img"
            width="29"
            height="29"
          />
          <h3 class="benefits-list__title">Lastest Game Engine</h3>
          <p class="benefits-list__text">
            Vivamus magna justo, lacinia eget coecetur sed, convallis at tellus. Curabitur non nulla
            sit Vestibum ante ipsum primis in faucibus orci
          </p>
        </li>

        <li class="benefits-list__item">
          <img
            src="./images/li-style.png"
            alt="Ромб"
            class="benefits-list__img"
            width="29"
            height="29"
          />
          <h3 class="benefits-list__title">Multiplayer on the go</h3>
          <p class="benefits-list__text">
            Vivamus magna justo, lacinia eget coecetur sed, convallis at tellus. Curabitur non nulla
            sit Vestibum ante ipsum primis in faucibus orci
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
