<section class="cards-section">
  <div class="container">
    <h2 class="cards__title visually-hidden">Cards</h2>
    <ul class="cards-list list">
      <li class="li cards-list__item">
        <a href="#" class="cards-list__link">
          <img
            src="./images/smooth.jpg"
            alt="smooth"
            class="cards-list__img"
            width="480"
            height="732"
          />
          <p class="cards-list__text">
            <svg class="cards-list__icon" width="128" height="128">
              <use href="./images/icons.svg#icon-smooth"></use>
            </svg>
            Smooth FPS
          </p>
        </a>
      </li>
      <li class="li cards-list__item">
        <a href="#" class="cards-list__link">
          <img
            src="./images/multiplayer.jpg"
            alt="multiplayer"
            class="cards-list__img"
            width="480"
            height="732"
          />
          <p class="cards-list__text">
            <svg class="cards-list__icon" width="128" height="128">
              <use href="./images/icons.svg#icon-multiplayer"></use>
            </svg>
            Multiplayer
          </p>
        </a>
      </li>
      <li class="li cards-list__item">
        <a href="#" class="cards-list__link">
          <img
            src="./images/openworld.jpg"
            alt="openworld"
            class="cards-list__img"
            width="480"
            height="732"
          />
          <p class="cards-list__text">
            <svg class="cards-list__icon" width="128" height="128">
              <use href="./images/icons.svg#icon-openworld"></use>
            </svg>
            Open World
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
