<section class="customize-section">
  <div class="container">
    <div class="customize">
      <div class="customize-img">
        <img
          src="./images/Character-img.png"
          alt="Player"
          class="customize-img__img"
          width="596"
          height="695"
        />
      </div>
      <div class="customize-content">
        <p class="customize-content__label section-label">
          <svg class="section-label__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-fire"></use>
          </svg>
          <span class="section-label__text">FUTURE OF eSPORTS</span>
        </p>
        <h2 class="customize-content__title section-title">Customize your Own Character</h2>
        <p class="customize-content__text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae.
        </p>
      </div>
    </div>
  </div>
</section>
