<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-content__item">
        <a href="" class="logo footer__logo">
          <svg class="logo__icon" width="170" height="48">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-content__text">
          Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis
          volutpat. Cursus sed massa non .
        </p>
      </div>
      <nav class="footer-content__item main-menu">
        <h3 class="menu__title menu-title">Menu Items</h3>
        <ul class="menu-list list">
          <li class="menu-list__item">
            <a href="" class="menu-list__link">About</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Blog</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Shop</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Contact us</a>
          </li>
        </ul>
      </nav>
      <nav class="footer-content__item menu">
        <h3 class="menu__title menu-title">Other Pages</h3>
        <ul class="menu-list list">
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Styleguide</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Changelog</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">licenses</a>
          </li>
          <li class="menu-list__item">
            <a href="" class="menu-list__link">Team</a>
          </li>
        </ul>
      </nav>
      <div class="footer-content__social">
        <h3 class="main-menu__title menu-title">Social Icons</h3>
        <ul class="footer-content__social-list social-list list">
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <svg class="social-list__icon" width="22" height="22">
                <use href="./images/brands.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <svg class="social-list__icon" width="22" height="22">
                <use href="./images/brands.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <svg class="social-list__icon" width="22" height="22">
                <use href="./images/brands.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a href="" class="social-list__link">
              <svg class="social-list__icon" width="22" height="22">
                <use href="./images/brands.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-copy">Copyright by 2021 Flowzai</p>
  </div>
</footer>
