<header class="header">
  <div class="container">
    <div class="header-row">
      <a href="" class="logo header__logo">
        <svg class="logo__icon" width="170" height="48">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="navigation">
        <ul class="navigation-list list">
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Home</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">About</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Team</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Shop</a>
          </li>
          <li class="navigation-list__item">
            <a href="" class="navigation-list__link">Pages</a>
          </li>
        </ul>
      </nav>
      <div class="contacts">
        <button type="button" class="contacts__basket basket">
          <svg class="basket__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-basket"></use>
          </svg>
          <p class="basket__count">0</p>
        </button>
        <button class="contacts__btn" type="button">Contact Us</button>
      </div>
    </div>
  </div>
</header>
