<section class="hero-section">
  <div class="container hero-container">
    <div class="hero">
      <p class="hero__label">
        <svg class="hero__icon-label" width="32" height="32">
          <use href="./images/icons.svg#icon-fire"></use>
        </svg>
        <span class="hero__text-label">FUTURE OF eSPORTS</span>
      </p>
      <h1 class="hero__title">
        Unleash the Next Generation of Gaming
        <svg class="hero__icon-title" width="434" height="26">
          <use href="./images/icons.svg#icon-line"></use>
        </svg>
      </h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis, nec donec in morbi pulvinar.
        Enim non pulvinar neque.
      </p>
      <ul class="hero__list hero-links list">
        <li class="hero-links__item"><a href="" class="hero-links__link">Explore More</a></li>
        <li class="hero-links__item">
          <a href="" class="hero-links__link hero-links__link-transparent">View our team</a>
        </li>
      </ul>
      <ul class="hero__social social-list list">
        <li class="social-list__item"><a href="" class="social-list__link">FACEBOOK</a></li>
        <li class="social-list__item"><a href="" class="social-list__link">INSTAGRAM</a></li>
        <li class="social-list__item"><a href="" class="social-list__link">TWITCH</a></li>
      </ul>
    </div>
    <div class="hero-img-content">
      <img src="./images/hero.png" alt="Player" class="hero-img-content__img" />
    </div>
  </div>
</section>
