<section class="section-join">
  <div class="container">
    <div class="join">
      <h2 class="join__title section-title">
        Join the largest gaming community
        <svg class="join__icon-title" width="434" height="26">
          <use href="./images/icons.svg#icon-line"></use>
        </svg>
      </h2>
      <p class="join__text">
        Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus <br />
        lectus. Cras ultricies ligula sed magna dictum porta. Nulla quis lorem ut libero malesu ada
        feugiat. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo
      </p>
      <form action="#" class="join__form join-form">
        <input type="email" class="join-form__input" name="mail" placeholder="Your Email Address" />
        <button type="submit" class="join-form__btn">Subscribe Now</button>
      </form>
    </div>
  </div>
</section>
