<section class="section-news">
  <div class="container">
    <p class="section-news__label section-label">
      <svg class="section-label__icon" width="32" height="32">
        <use href="./images/icons.svg#icon-fire"></use>
      </svg>
      <span class="section-label__text">FUTURE OF eSPORTS</span>
    </p>
    <div class="section-news__title-wrap">
      <h2 class="section-news__title section-title">Latest News & Articles</h2>
      <a href="" class="section-news__link-more">Read More</a>
    </div>
    <ul class="news-list list">
      <li class="news-list__item news-list__item-big">
        <a href="" class="news-list__link">
          <div class="news-list__thumb">
            <img
              src="./images/main-device.jpg"
              alt="device"
              class="news-list__img"
              width="648"
              height="510"
            />
          </div>

          <p class="news-list__date">April 2, 2021</p>
          <h3 class="news-list__title">Esports Group teams up with the Indianapolis Colts</h3>
        </a>
      </li>
      <li class="news-list__item news-list__item-small">
        <ul class="news-list__small list">
          <li class="news-list__item news-list__item-small">
            <a href="" class="news-list__link">
              <div class="news-list__thumb">
                <img
                  src="./images/player.jpg"
                  alt="player"
                  class="news-list__img"
                  width="312"
                  height="189"
                />
              </div>

              <p class="news-list__date">April 2, 2021</p>
              <h3 class="news-list__title">NAVI reveals s1mple fifth anniversary</h3>
            </a>
          </li>

          <li class="news-list__item news-list__item-small">
            <a href="" class="news-list__link">
              <div class="news-list__thumb">
                <img
                  src="./images/esports.jpg"
                  alt="esports"
                  class="news-list__img"
                  width="312"
                  height="189"
                />
              </div>

              <p class="news-list__date">April 2, 2021</p>
              <h3 class="news-list__title">A1esports Shares new picture</h3>
            </a>
          </li>

          <li class="news-list__item news-list__item-small">
            <a href="" class="news-list__link">
              <div class="news-list__thumb">
                <img
                  src="./images/razer.jpg"
                  alt="razer"
                  class="news-list__img"
                  width="312"
                  height="189"
                />
              </div>

              <p class="news-list__date">April 2, 2021</p>
              <h3 class="news-list__title">T1 unveil partnership with Razer</h3>
            </a>
          </li>

          <li class="news-list__item news-list__item-small">
            <a href="" class="news-list__link">
              <div class="news-list__thumb">
                <img
                  src="./images/partnership.jpg"
                  alt="partnership"
                  class="news-list__img"
                  width="312"
                  height="189"
                />
              </div>

              <p class="news-list__date">April 2, 2021</p>
              <h3 class="news-list__title">RX secures content partnership with</h3>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
