<section class="perspective-section">
  <div class="container">
    <div class="perspective">
      <div class="perspective-content">
        <p class="perspective-content__label section-label">
          <svg class="section-label__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-fire"></use>
          </svg>
          <span class="section-label__text">FUTURE OF eSPORTS</span>
        </p>
        <h2 class="perspective__title section-title">The new era of cloud gaming here</h2>
        <p class="perspective__text">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
        </p>
        <a href="#" class="perspective__link">Explore More</a>
      </div>
      <div class="persepctive-video">
        <img
          src="./images/frame-img.png"
          alt="Player"
          class="persepctive-video__img"
          width="492"
          height="550"
        />
      </div>
    </div>
  </div>
</section>
