<section class="sponsors-section">
  <div class="container">
    <div class="sponsors">
      <h2 class="section-title sponsors__title">Our Sponsors</h2>
      <p class="sponsors__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis, nec donec in morbi pulvinar.
        Enim non pulvinar neque.
        <svg class="sponsors__icon-text" width="292" height="12">
          <use href="./images/icons.svg#icon-line"></use>
        </svg>
      </p>
      <ul class="sponsors__list sponsors-list list">
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-ideaa"></use>
            </svg>
            ideaa
          </a>
        </li>
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-amara"></use>
            </svg>
            amara
          </a>
        </li>
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-lightai"></use>
            </svg>
            LightAI
          </a>
        </li>
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-circle"></use>
            </svg>
            circle
          </a>
        </li>
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-muzica"></use>
            </svg>
            muzica
          </a>
        </li>
        <li class="sponsors-list__item">
          <a href="" class="sponsors-list__link" target="_blank" rel="noreferrer noopener">
            <svg class="sponsors-list__icon" width="34.06" height="35.61">
              <use href="./images/icons.svg#icon-lightai"></use>
            </svg>
            LightAI
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
