.cards-section {
  & .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.cards-list {
  display: flex;
  @media screen and (max-width: 467px) {
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
  }
}

.cards-list__item {
  @media screen and(min-width: 468px) {
    flex-basis: 33.3333%;
  }
}

.cards-list__link {
  position: relative;
  display: block;
}

.cards-list__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  text-transform: capitalize;
  @media screen and(min-width: 468px) {
    font-size: 48px;
  }
}
.cards-list__icon {
  margin-bottom: 15px;
  @media screen and(min-width: 468px) {
    margin-bottom: 30px;
  }
}
