.customize-section {
}

.customize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and(max-width: 467px) {
    flex-direction: column-reverse;
  }
}

.customize-content {
  @media screen and(max-width: 467px) {
    margin-bottom: 20px;
  }
  @media screen and(min-width: 468px) {
    width: 596px;
  }
}

.customize-content__label {
  margin-bottom: 10px;
  @media screen and(min-width: 468px) {
    margin-bottom: 22px;
  }
}

.customize-content__title {
  text-align: center;
  margin-bottom: 20px;
  @media screen and(min-width: 468px) {
    text-align: left;
    margin-bottom: 38px;
  }
}

.customize-content__text {
  font-size: 12px;
  @media screen and(min-width: 468px) {
    font-size: 20px;
  }
}
