.header {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__icon {
    fill: var(--hero-title-color);
  }
}

.header-row {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
}

.header__logo {
  @media screen and (min-width: 480px) {
    margin-right: 215px;
  }
}

.logo__icon {
  transition: transform 0.3s linear;
  .logo:hover &,
  .logo:active & {
    transform: scale(1.1);
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
  }
}

.navigation-list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.navigation-list__item {
  &:not(:last-child) {
    margin-right: 60px;
  }
  @media screen and (max-width: 767px) {
    background-color: var(--hero-title-color);
    width: 100%;
    &:not(:last-child) {
      border-bottom: 1px solid var(--black-color);
    }
  }
}

.navigation-list__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.625;
  color: var(--white-color);
  transition: color 0.25s linear;
  &:hover,
  &:active {
    color: var(--nav-link-hover-color);
  }
  @media screen and (max-width: 767px) {
    padding-left: 25px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  @media screen and (max-width: 479px) {
    width: 100%;
    justify-content: space-between;
  }
  @media screen and (min-width: 480px) {
    margin-left: auto;
  }
}

.basket {
  position: relative;
  background-color: transparent;
  border: none;
  transition: color 0.25s linear;
  // &:hover,
  // &:active {
  //   color: var(--nav-link-hover-color);
  // }
}

// .basket__icon {
//   .basket:hover &,
//   .basket:active & {
//     stroke: var(--nav-link-hover-color);
//   }
// }

.basket__count {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 21px;
  height: 18px;
  border-radius: 9px;
  background-color: var(--white-color);
  font-size: 11px;
  line-height: 1.63;
  text-align: center;
  color: var(--basket-count-color);
  // .basket:hover &,
  // .basket:active & {
  //   color: var(--nav-link-hover-color);
  //   font-weight: 700;
  // }
}

.contacts__btn {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.66;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background-color: transparent;
  transition: all 0.25s linear;
  cursor: pointer;
  padding: 4px 14px;

  @media screen and (min-width: 480px) {
    margin-left: 40px;
    font-size: 18px;
    padding: 16px 31px;
    &:hover,
    &:active {
      color: var(--nav-link-hover-color);
      border: 1px solid var(--nav-link-hover-color);
    }
  }
}
