.section-join {
  background-color: var(--sponsors-section-color);
}

.join {
  padding-top: 34px;
  padding-bottom: 34px;
  background-image: url(../images/join-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 468px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.join__title {
  position: relative;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;

  color: var(--basket-count-color);
  margin-bottom: 30px;
  @media screen and(min-width: 468px) {
    width: 800px;
    font-size: 72px;
    margin-bottom: 49px;
  }
}

.join__icon-title {
  position: absolute;
  bottom: -20px;
  right: -80px;
  stroke: var(--hero-title-color);
  transform: scale(0.6);
  @media screen and(min-width: 468px) {
    transform: scale(1);
    right: 25px;
  }
}

.join__text {
  font-size: 12px;
  line-height: 1.56;
  text-align: center;

  color: var(--text-color);

  margin-bottom: 22px;
  @media screen and(min-width: 468px) {
    width: 850px;
    font-size: 18px;
    margin-bottom: 44.61px;
  }
}

.join-form {
  display: flex;

  align-items: center;
  @media screen and(max-width: 467px) {
    flex-direction: column;
  }
}

.join-form__input {
  width: 100%;
  padding: 16px 13px;

  border: 3px solid transparent;
  &:focus {
    border: 3px solid var(--black-color);
  }
  &::placeholder {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    color: var(--text-color);
    text-align: center;
    @media screen and(min-width: 468px) {
      font-size: 18px;
      text-align-last: left;
    }
  }
  @media screen and(min-width: 468px) {
    padding: 26px 13px;
    width: 445px;
  }
  @media screen and(max-width: 467px) {
    margin-bottom: 15px;
  }
}

.join-form__btn {
  padding: 21px 34px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  border: 1px solid transparent;
  background-color: var(--hero-title-color);
  color: var(--white-color);
  &:hover,
  &:active {
    background-color: var(--hero-title-color-hover);
    border: 1px solid var(--hero-title-color);
  }
}
