.section-news {
  padding-top: 34px;
  padding-bottom: 34px;
  @media screen and(min-width: 468px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-news__label {
  margin-bottom: 10px;
  @media screen and(min-width: 468px) {
    margin-bottom: 20px;
  }
}

.section-news__title-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
  @media screen and(min-width: 468px) {
    align-items: flex-end;
    flex-direction: row;
    margin-bottom: 64px;
  }
}

.section-news__title {
  text-align: center;
  @media screen and(max-width: 467px) {
    margin-bottom: 10px;
  }
  @media screen and(min-width: 468px) {
    width: 50%;
    text-align: left;
  }
}

.section-news__link-more {
  display: block;
  padding: 21px 34px;
  font-size: 18px;
  line-height: 1.56;
  text-transform: capitalize;
  background-color: var(--hero-title-color);
  border: 1px solid var(--hero-title-color);
  transition: background-color, border, color 0.25s linear;
  &:hover,
  &:active {
    background-color: var(--hero-title-color-hover);
    border: 1px solid var(--hero-title-color);
  }
  @media screen and(max-width: 467px) {
    width: 220px;
    margin: 0 auto;
    text-align: center;
  }
}

.news-list {
  display: flex;
  justify-content: space-between;
  & .news-list__item-small {
    margin-top: 20px;
  }
  @media screen and(max-width: 467px) {
    flex-direction: column;
  }
  @media screen and(min-width: 468px) {
  }
}

.news-list__item-big {
  @media screen and(min-width: 468px) {
    flex-basis: 648px;
  }
  & .news-list__thumb {
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 25px;
    @media screen and(min-width: 468px) {
      border-radius: 45px;
      overflow: hidden;
      margin-bottom: 54px;
    }
  }
  & .news-list__date {
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1;
    color: var(--hero-title-color);
    @media screen and(min-width: 468px) {
      margin-bottom: 28px;
      font-size: 18px;
    }
  }
  & .news-list__title {
    font-size: 18px;
    line-height: 1.28;
    font-weight: 400;
    text-transform: capitalize;
    @media screen and(min-width: 468px) {
      font-size: 36px;
    }
  }
}

.news-list__small {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -24px;
  @media screen and(min-width: 468px) {
    margin-left: -24px;
    margin-top: -40px;
  }
}

.news-list__item-small {
  flex-basis: calc(100% / 1 - 24px);
  margin-left: 12px;
  margin-top: 24px;
  @media screen and(min-width: 468px) {
    flex-basis: calc(100% / 2 - 24px);
    margin-left: 24px;
    margin-top: 40px;
  }
  & .news-list__thumb {
    margin-bottom: 15px;
    border-radius: 25px;
    overflow: hidden;
    @media screen and(min-width: 468px) {
      margin-bottom: 30px;
      border-radius: 25px;
    }
  }
  & .news-list__date {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1;
    color: var(--hero-title-color);
    @media screen and(min-width: 468px) {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
  & .news-list__title {
    font-size: 13px;
    line-height: 1.48;
    font-weight: 400;
    text-transform: capitalize;
    @media screen and(min-width: 468px) {
      font-size: 23px;
    }
  }
}
