.sponsors-section {
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: var(--sponsors-section-color);
  @media screen and (min-width: 468px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 128px;
    padding-bottom: 129px;
  }
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors__title {
  font-size: 24px;
  margin-bottom: 22px;
  line-height: 1.21;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;

  color: var(--section-title-color);
  @media screen and (min-width: 468px) {
    font-size: 36px;
    margin-bottom: 34px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 44px;
  }
}

.sponsors__text {
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-color);
  @media screen and (min-width: 468px) {
    font-size: 13px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 578px;
  }
}

.sponsors-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -20px;
  margin-top: -20px;
  color: var(--basket-count-color);
  font-weight: 700;
  @media screen and (min-width: 768px) {
    margin-left: -33px;
    margin-top: -33px;
  }
}

.sponsors-list__item {
  flex-basis: calc(100% / 1 - 20px);
  margin-left: 20px;
  margin-top: 20px;
  padding: 10.79px 10.82px;
  background-color: var(--sponsors-item-bg-color);
  border-radius: 15px;
  transition: transform 0.25s linear;
  &:hover {
    transform: scale(1.05);
  }
  @media screen and (min-width: 420px) {
    flex-basis: calc(100% / 2 - 20px);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 6 - 33px);
    margin-left: 33px;
    margin-top: 33px;
  }
}

.sponsors-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  background-color: var(--sponsors-link-bg-color);
  border-radius: 15px;
  @media screen and (min-width: 468px) {
    font-size: 20px;
    padding-top: 16.18px;
    padding-bottom: 16.18px;
  }
}

.sponsors-list__icon {
  margin-right: 4px;
}
